@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');

@import 'tailwindcss';

.alata-regular {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@layer base {
  :root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey200: hsl(0, 0%, 85%);
    --josefinSans: 'Josefin Sans', sans-serif;
    @apply scroll-smooth;
  }
  body {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }

  section {
    @apply scroll-mt-25;
  }

  h1,
  h2,
  h3,
  button,
  a {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    @apply uppercase;
  }
  button {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
  }
  #app {
    @apply h-full w-full;
  }
}
